body {
	background-color: #4b4c4c;
	font-family: 'Archivo Black';
	font-size: 18px;
	overflow: hidden;
	color: white;
}
h1 {
	color: white;
	font-size: 25px;

}
h2 {
	color: white;
	font-size: 18px;
}

h3 {
	color: white;
}


p { 
	color: white;
	font-size: 18px;
}


table, th, td, tbody {
	border: 2px solid #FFFFFF;
	text-align: center;
	color: white;
	font-weight: normal;
	border-collapse: collapse;
	padding: 3px
}

td {
	border 1px solid #FFFFFF;
}

#Trains {
 float: left;
 width: 300px;
 line-height: 1.00;
 font-size 18px;
 }

#clock {
	height: auto;
	float: left;
	width: 400px;
}

#weather {
 line-height: 0.25;
 width: 400px;
 float: left;
 }

#Alarm {
 float: left;
 width: 150px;
}

